/* ==========================================================
   InsightIQ
   Login Page
========================================================== */

/* ==========================================================
   PAGE
========================================================== */

.login{

    min-height:100vh;

    display:grid;

    grid-template-columns:1.1fr .9fr;

    background:var(--background);

}

[data-theme="dark"] .login{

    background:#020617;

}



/* ==========================================================
   LEFT PANEL
========================================================== */

.login__left{

    position:relative;

    overflow:hidden;

    display:flex;

    align-items:center;

    justify-content:center;

    padding:80px;

    background:

    linear-gradient(

        135deg,

        var(--primary),

        #4F46E5,

        var(--accent)

    );

    color:white;

}

.login__left::before{

    content:"";

    position:absolute;

    width:650px;

    height:650px;

    border-radius:50%;

    right:-250px;

    top:-180px;

    background:

    rgba(255,255,255,.08);

}

.login__left::after{

    content:"";

    position:absolute;

    width:500px;

    height:500px;

    border-radius:50%;

    left:-180px;

    bottom:-200px;

    background:

    rgba(255,255,255,.05);

}


