/* ==========================================================
   InsightIQ Tooltip
========================================================== */

.tooltip{

    position:relative;

    display:inline-flex;

}

.tooltip__content{

    position:absolute;

    bottom:130%;

    left:50%;

    transform:translateX(-50%);

    background:var(--secondary);

    color:#fff;

    padding:8px 14px;

    border-radius:var(--radius-md);

    white-space:nowrap;

    opacity:0;

    visibility:hidden;

    transition:.25s;

    font-size:.82rem;

    box-shadow:var(--shadow-md);

}

.tooltip:hover .tooltip__content{

    opacity:1;

    visibility:visible;

}

.tooltip__content::after{

    content:"";

    position:absolute;

    top:100%;

    left:50%;

    transform:translateX(-50%);

    border:6px solid transparent;

    border-top-color:var(--secondary);

}